extends partial/layout
block content
	.autopagerize_page_element: .content
		- page.posts.filter((item) => !item.categories.data.some((item) => item.name === 'link')).each(function (item) {
			include mixins
			+make_post(item, false)
		- })
		include mixins
		+make_pager(__('prev'), __('next'))
